.error{
    color:red;
}
.swal2-popup {
    font-size: 1.6rem !important;
  }
.modal-header{
    background: #3c8dbc;
  }
  .modal-title{
    color: #fff;
    font-weight: bold;
    font:22px;
  }
  .commonlitabforcash a {
    color:rgb(36, 1, 1)!important;
    background: #00c0ef;
    font-size:15px;
    font-weight:bold;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: -2px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #d6c207;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #d6c207;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .countnumber{
    position: relative;
    height: 25px;
    width: 25px;
    background-color: rgb(0, 166, 140);
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    top: 8px;
  }
  .textcount{
    position: absolute;
    padding-left: 7px;
    font-size: 17px;
    color: #fff;
    font-weight: bold;
    top: 3px;
  }
  .userswitch{
    position: relative;
    display: inline-block;
    width: 36px;
    height: 18px;
  }
  .user-btn-size{
    padding: 5px 7px;
    font-size: 11px;
    line-height: 1.5;
  }
  .userslider {
    position: absolute;
    cursor: pointer;
    top: -2px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    -webkit-transition: .6s;
    transition: .6s;
  }
  .userslider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 12px;
    left: -3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .6s;
    transition: .6s;
  }
  input:checked + .userslider {
    background-color: #d6c207;
  }
  
  input:focus + .userslider {
    box-shadow: 0 0 1px #d6c207;
  }
  
  input:checked + .userslider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .userslider.round {
    border-radius: 34px;
  }
  
  .userslider.round:before {
    border-radius: 50%;
  }
  .stargreen{
      color:#178a55;
    }
    .stardeem{
      color:#ddd;
    }
    .dataTables_wrapper button{
    background: #3c8dbc;
    color: #fff;
    padding: 9px 25px;
    font-weight: bolder;
  }
  .dataTables_wrapper button:hover{
    background: #3c8dbc;
    color:#fff;
    padding: 9px 25px;
    font-weight: bolder;
  }